
build/

.vscode/

client/client.exe

lib/

client/libSGAL.dll

client/libstdc\+\+-6.dll

client/main_graph.cpp

client/main - Copy.cpp

client/SimplexNoise.cpp

client/SimplexNoise.h

client/res/models/chest/Chest.mtl

client/res/models/chest/Chest.obj

client/res/models/chest/CofreTexturizado.spp

client/compile.bat

client/res/textures/test.png

client/res/models/tray/Shoshan_Serving_Tray.obj

bin-gen/libSGAL.dll

bin-gen/rect.rm

bin-gen/tempgen.exe

client/main_old.cpp

client/res/textures/atlas.png

src/Graphics/Primitives/Primitives.cpp

client/Debug/
